<section class="chatrooms">
  <%= form_for(@new_message) do |f| %>
    <%= f.hidden_field :user_id, value: @user %>
    <%= f.hidden_field :chatroom_id, value: @chatroom.id %>
    <p>
      <%= f.label :body %><br>
      <%= f.text_field :body %>
    </p>
    <div class="btn" id="newMessage">send message</div>
  <% end %>
</section>
