
<h1><%= @chatroom.name %></h1>

<div class="#ffffff white scroll">
  <table>

    <tbody>
      <% @chatroom.messages.each do |message| %>
        <tr>
          <td><% if message.user.id == @current_user.id %> You said: <% else %><%= message.user.name %> said: <% end %></td>
          <td><%= message.body %></td>
          <td><%= message.created_at %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= render 'new_message_form' %>
<br />
<%= link_to 'Back', chatrooms_path, class: "btn" %>
