<!DOCTYPE html>
<html>
  <head>
    <title>IronChatReact</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body class="#e3f2fd blue lighten-5">
    <main>
    <% if user_logged_in? %>
    <%= react_component("navbarLoggedIn") %>
    <% else %>
    <%= react_component("navbarLoggedOut") %>
    <% end %>

    <p id="notice"><%= notice %></p>
    <p id="alert"><%= alert %></p>


    <div class='container'>
      <div class='row'>
        <div class='m12'>
          <%= yield %>
        </div>
      </div>
    </div>
    <footer>
      <%= params.inspect if Rails.env.development? %>
      <%= @current_user.inspect if Rails.env.development? %>
    </footer>
    </main>
  </body>
</html>
